<div class="left">
  <img src="http://usercontent.edu2act.cn/media/userheader/17-05-05/6SBf2MuxpzBF8Mqdvf665U.jpg" id="img">
  <h4 id="wangjie">4-王洁</h4>
  <div><span class="num1">1</span><span class="num1">6</span></div>
  <div><span class="num2">粉丝</span><span class="num2">关注</span></div>
  <div id="left-bottom">
    <div class="button1">任务</div>
    <div class="button1">同步课</div>
    <div class="button1">课程</div>
    <div class="button1">且说</div>
    <div class="button1">通知</div>
  </div>
</div>
<div class="right">
  <div class="right-top">
      <div class="rightw">未提交</div>
      <div class="rightw">已完成</div>
      <div class="rightw">已完结</div>
      <div id="inp">
        <div class="form-group ">
          <input type="text" class="form-control " placeholder="输入同步课名称搜索">
        </div>
      </div>
  </div>
  <div></div>
</div>